In [120]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import hvplot.pandas
%matplotlib inline

In [121]:
fraud_reporting = pd.read_csv(Path("Resources/SARStats2014_2021.csv"), thousands=',', index_col='Year Month', parse_dates=True, infer_datetime_format = True)
fraud_reporting

,Industry,Suspicious Activity,Count
Year Month,,,
2014 January,Depository Institution,ACH,1505
2014 January,Depository Institution,Business Loan,147
2014 January,Depository Institution,Check,8044
2014 January,Depository Institution,Consumer Loan (see instructions),7419
2014 January,Depository Institution,Credit/Debit Card,5572
...,...,...,...
2021 December,Depository Institution,Securities,29
2021 December,Depository Institution,Wire,5914
2021 December,Depository Institution,[Total],93692
2021 [Total],Depository Institution,[Total],971886
All Years [Total],Depository Institution,[Total],4803531

In [122]:
pd.to_datetime?

Signature:
pd.to_datetime(
    arg: 'DatetimeScalarOrArrayConvertible',
    errors: 'str' = 'raise',
    dayfirst: 'bool' = False,
    yearfirst: 'bool' = False,
    utc: 'bool | None' = None,
    format: 'str | None' = None,
    exact: 'bool' = True,
    unit: 'str | None' = None,
    infer_datetime_format: 'bool' = False,
    origin='unix',
    cache: 'bool' = True,
) -> 'DatetimeIndex | Series | DatetimeScalar | NaTType | None'
Docstring:
Convert argument to datetime.

Parameters
----------
arg : int, float, str, datetime, list, tuple, 1-d array, Series, DataFrame/dict-like
    The object to convert to a datetime.
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception.
    - If 'coerce', then invalid parsing will be set as NaT.
    - If 'ignore', then invalid parsing will return the input.
dayfirst : bool, default False
    Specify a date parse order if `arg` is str or its list-likes.
    If True, parses dates with the day first, eg 10/11/12 is parsed as
    2012-11-10.
    Warning: dayfirst=True is not strict, but will prefer to parse
    with day first (this is a known bug, based on dateutil behavior).
yearfirst : bool, default False
    Specify a date parse order if `arg` is str or its list-likes.

    - If True parses dates with the year first, eg 10/11/12 is parsed as
      2010-11-12.
    - If both dayfirst and yearfirst are True, yearfirst is preceded (same
      as dateutil).

    Warning: yearfirst=True is not strict, but will prefer to parse
    with year first (this is a known bug, based on dateutil behavior).
utc : bool, default None
    Return UTC DatetimeIndex if True (converting any tz-aware
    datetime.datetime objects as well).
format : str, default None
    The strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
    all the way up to nanoseconds.
    See strftime documentation for more information on choices:
    https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior.
exact : bool, True by default
    Behaves as:
    - If True, require an exact format match.
    - If False, allow the format to match anywhere in the target string.

unit : str, default 'ns'
    The unit of the arg (D,s,ms,us,ns) denote the unit, which is an
    integer or float number. This will be based off the origin.
    Example, with unit='ms' and origin='unix' (the default), this
    would calculate the number of milliseconds to the unix epoch start.
infer_datetime_format : bool, default False
    If True and no `format` is given, attempt to infer the format of the
    datetime strings based on the first non-NaN element,
    and if it can be inferred, switch to a faster method of parsing them.
    In some cases this can increase the parsing speed by ~5-10x.
origin : scalar, default 'unix'
    Define the reference date. The numeric values would be parsed as number
    of units (defined by `unit`) since this reference date.

    - If 'unix' (or POSIX) time; origin is set to 1970-01-01.
    - If 'julian', unit must be 'D', and origin is set to beginning of
      Julian Calendar. Julian day number 0 is assigned to the day starting
      at noon on January 1, 4713 BC.
    - If Timestamp convertible, origin is set to Timestamp identified by
      origin.
cache : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets. The cache is only
    used when there are at least 50 values. The presence of out-of-bounds
    values will render the cache unusable and may slow down parsing.

    .. versionchanged:: 0.25.0
        - changed default value from False to True.

Returns
-------
datetime
    If parsing succeeded.
    Return type depends on input:

    - list-like: DatetimeIndex
    - Series: Series of datetime64 dtype
    - scalar: Timestamp

    In case when it is not possible to return designated types (e.g. when
    any element of input is before Timestamp.min or after Timestamp.max)
    return will have datetime.datetime type (or corresponding
    array/Series).

See Also
--------
DataFrame.astype : Cast argument to a specified dtype.
to_timedelta : Convert argument to timedelta.
convert_dtypes : Convert dtypes.

Examples
--------
Assembling a datetime from multiple columns of a DataFrame. The keys can be
common abbreviations like ['year', 'month', 'day', 'minute', 'second',
'ms', 'us', 'ns']) or plurals of the same

>>> df = pd.DataFrame({'year': [2015, 2016],
...                    'month': [2, 3],
...                    'day': [4, 5]})
>>> pd.to_datetime(df)
0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

If a date does not meet the `timestamp limitations
<https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
#timeseries-timestamp-limits>`_, passing errors='ignore'
will return the original input instead of raising any exception.

Passing errors='coerce' will force an out-of-bounds date to NaT,
in addition to forcing non-dates (or non-parseable dates) to NaT.

>>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
datetime.datetime(1300, 1, 1, 0, 0)
>>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
NaT

Passing infer_datetime_format=True can often-times speedup a parsing
if its not an ISO8601 format exactly, but in a regular format.

>>> s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'] * 1000)
>>> s.head()
0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

>>> %timeit pd.to_datetime(s, infer_datetime_format=True)  # doctest: +SKIP
100 loops, best of 3: 10.4 ms per loop

>>> %timeit pd.to_datetime(s, infer_datetime_format=False)  # doctest: +SKIP
1 loop, best of 3: 471 ms per loop

Using a unix epoch time

>>> pd.to_datetime(1490195805, unit='s')
Timestamp('2017-03-22 15:16:45')
>>> pd.to_datetime(1490195805433502912, unit='ns')
Timestamp('2017-03-22 15:16:45.433502912')

.. warning:: For float arg, precision rounding might happen. To prevent
    unexpected behavior use a fixed-width exact type.

Using a non-unix epoch origin

>>> pd.to_datetime([1, 2, 3], unit='D',
...                origin=pd.Timestamp('1960-01-01'))
DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'],
              dtype='datetime64[ns]', freq=None)

In case input is list-like and the elements of input are of mixed
timezones, return will have object type Index if utc=False.

>>> pd.to_datetime(['2018-10-26 12:00 -0530', '2018-10-26 12:00 -0500'])
Index([2018-10-26 12:00:00-05:30, 2018-10-26 12:00:00-05:00], dtype='object')

>>> pd.to_datetime(['2018-10-26 12:00 -0530', '2018-10-26 12:00 -0500'],
...                utc=True)
DatetimeIndex(['2018-10-26 17:30:00+00:00', '2018-10-26 17:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
File:      ~/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/tools/datetimes.py
Type:      function

In [123]:
fraud_reporting = fraud_reporting.loc[fraud_reporting["Suspicious Activity"]!="[Total]" ]
fraud_reporting = fraud_reporting.drop(columns= 'Suspicious Activity')
fraud_reporting.index = pd.to_datetime(fraud_reporting.index, infer_datetime_format = True)
fraud_reporting

                          Industry  Count
Year Month
2014-01-01  Depository Institution   1505
2014-01-01  Depository Institution    147
2014-01-01  Depository Institution   8044
2014-01-01  Depository Institution   7419
2014-01-01  Depository Institution   5572
...                            ...    ...
2021-12-01  Depository Institution  16703
2021-12-01  Depository Institution     23
2021-12-01  Depository Institution     12
2021-12-01  Depository Institution     29
2021-12-01  Depository Institution   5914

[1179 rows x 2 columns]

In [124]:
quarterly_fraud_reporting = fraud_reporting.groupby([fraud_reporting.index.year,fraud_reporting.index.quarter]).sum()
quarterly_fraud_reporting

                        Count
Year Month Year Month
2014       1            82364
           2            95516
           3            94084
           4            90868
2015       1            90566
           2            96365
           3           101745
           4           105491
2016       1           108801
           2           128668
           3           126907
           4           115900
2017       1           117009
           2           121347
           3           125990
           4           125829
2018       1           132985
           2           140769
           3           152955
           4           165279
2019       1           186318
           2           169526
           3           177728
           4           185082
2020       1           189439
           2           176864
           3           224264
           4           202986
2021       1           201403
           2           231668
           3           273794
           4           265021

In [125]:
quarterly_fraud_reporting = quarterly_fraud_reporting.rename(columns={'Count':'Fraud Reporting Count'})
quarterly_fraud_reporting.index = quarterly_fraud_reporting.index.rename(['Year','Quarter'])
quarterly_fraud_reporting

              Fraud Reporting Count
Year Quarter
2014 1                        82364
     2                        95516
     3                        94084
     4                        90868
2015 1                        90566
     2                        96365
     3                       101745
     4                       105491
2016 1                       108801
     2                       128668
     3                       126907
     4                       115900
2017 1                       117009
     2                       121347
     3                       125990
     4                       125829
2018 1                       132985
     2                       140769
     3                       152955
     4                       165279
2019 1                       186318
     2                       169526
     3                       177728
     4                       185082
2020 1                       189439
     2                       176864
     3                       224264
     4                       202986
2021 1                       201403
     2                       231668
     3                       273794
     4                       265021

In [126]:
net_income = pd.read_csv(Path("Resources/FDICQBPs.csv"))
net_income

,Year,Quarter,Net Operating Income,"Securities and Other Gains/Losses, Net"
0,2008,1,18.8,0.4
1,2008,2,6.1,-1.3
2,2008,3,7.5,-4.4
3,2008,4,-35.0,-0.7
4,2009,1,-6.5,0.4
5,2009,2,-8.4,-4.2
6,2009,3,4.5,-2.4
7,2009,4,-1.5,-0.2
8,2010,1,16.3,1.1
9,2010,2,19.8,1.1
10,2010,3,21.7,2.0
11,2010,4,19.6,1.8
12,2011,1,29.0,-0.2
13,2011,2,28.4,0.1
14,2011,3,32.2,3.1
15,2011,4,24.1,1.2
16,2012,1,32.7,2.1
17,2012,2,32.9,1.6
18,2012,3,35.6,1.9
19,2012,4,33.4,1.0
20,2013,1,39.1,1.2
21,2013,2,37.5,0.7
22,2013,3,35.6,0.5
23,2013,4,39.6,0.1
24,2014,1,36.8,0.5
25,2014,2,39.8,0.3
26,2014,3,38.1,0.4
27,2014,4,36.0,0.5
28,2015,1,39.0,0.8
29,2015,2,42.6,0.4
30,2015,3,40.0,0.4
31,2015,4,40.1,0.5
32,2016,1,38.4,0.6
33,2016,2,42.9,0.7
34,2016,3,45.1,0.5
35,2016,4,42.8,0.3
36,2017,1,43.5,0.3
37,2017,2,47.6,0.5
38,2017,3,47.3,0.6
39,2017,4,25.5,-0.2
40,2018,1,55.7,0.1
41,2018,2,60.2,-0.1
42,2018,3,61.9,-0.0
43,2018,4,59.7,-0.3
44,2019,1,60.1,0.6
45,2019,2,61.5,1.0
46,2019,3,58.2,-0.8
47,2019,4,52.6,2.3
48,2020,1,17.1,1.4
49,2020,2,16.4,2.0
50,2020,3,49.3,1.8
51,2020,4,58.1,1.3
52,2021,1,75.7,1.1
53,2021,2,69.8,0.6
54,2021,3,69.3,0.2
55,2021,4,63.4,0.4

In [127]:
net_income = net_income.drop(columns = 'Securities and Other Gains/Losses, Net')
net_income = net_income.loc[net_income['Year']>=2014]
net_income.head()

    Year  Quarter  Net Operating Income
24  2014        1                  36.8
25  2014        2                  39.8
26  2014        3                  38.1
27  2014        4                  36.0
28  2015        1                  39.0

In [128]:
quarterly_net_income = net_income.groupby(['Year','Quarter']).sum()
quarterly_net_income = quarterly_net_income.rename(columns={'Net Operating Income':'Net Operating Income(Billions)'})
display(quarterly_net_income.head())
display(quarterly_fraud_reporting.head())

              Net Operating Income(Billions)
Year Quarter
2014 1                                  36.8
     2                                  39.8
     3                                  38.1
     4                                  36.0
2015 1                                  39.0

              Fraud Reporting Count
Year Quarter
2014 1                        82364
     2                        95516
     3                        94084
     4                        90868
2015 1                        90566

In [129]:
grouped_data = quarterly_fraud_reporting.merge(quarterly_net_income, left_index=True, right_on=['Year','Quarter'])
grouped_data.head()

              Fraud Reporting Count  Net Operating Income(Billions)
Year Quarter
2014 1                        82364                            36.8
     2                        95516                            39.8
     3                        94084                            38.1
     4                        90868                            36.0
2015 1                        90566                            39.0

In [130]:
lagged_data = grouped_data.shift(1)
lagged_data.columns = ['Lagged Fraud Reporting Count', 'Lagged Net Operating Income(Billions)']
grouped_data = pd.concat([grouped_data,lagged_data], axis = 1, join='inner')
grouped_data

              Fraud Reporting Count  Net Operating Income(Billions)  \
Year Quarter
2014 1                        82364                            36.8
     2                        95516                            39.8
     3                        94084                            38.1
     4                        90868                            36.0
2015 1                        90566                            39.0
     2                        96365                            42.6
     3                       101745                            40.0
     4                       105491                            40.1
2016 1                       108801                            38.4
     2                       128668                            42.9
     3                       126907                            45.1
     4                       115900                            42.8
2017 1                       117009                            43.5
     2                       121347                            47.6
     3                       125990                            47.3
     4                       125829                            25.5
2018 1                       132985                            55.7
     2                       140769                            60.2
     3                       152955                            61.9
     4                       165279                            59.7
2019 1                       186318                            60.1
     2                       169526                            61.5
     3                       177728                            58.2
     4                       185082                            52.6
2020 1                       189439                            17.1
     2                       176864                            16.4
     3                       224264                            49.3
     4                       202986                            58.1
2021 1                       201403                            75.7
     2                       231668                            69.8
     3                       273794                            69.3
     4                       265021                            63.4

              Lagged Fraud Reporting Count  \
Year Quarter
2014 1                                 NaN
     2                             82364.0
     3                             95516.0
     4                             94084.0
2015 1                             90868.0
     2                             90566.0
     3                             96365.0
     4                            101745.0
2016 1                            105491.0
     2                            108801.0
     3                            128668.0
     4                            126907.0
2017 1                            115900.0
     2                            117009.0
     3                            121347.0
     4                            125990.0
2018 1                            125829.0
     2                            132985.0
     3                            140769.0
     4                            152955.0
2019 1                            165279.0
     2                            186318.0
     3                            169526.0
     4                            177728.0
2020 1                            185082.0
     2                            189439.0
     3                            176864.0
     4                            224264.0
2021 1                            202986.0
     2                            201403.0
     3                            231668.0
     4                            273794.0

              Lagged Net Operating Income(Billions)
Year Quarter
2014 1                                          NaN
     2                                         36.8
     3                                         39.8
     4                                         38.1
2015 1                                         36.0
     2                                         39.0
     3                                         42.6
     4                                         40.0
2016 1                                         40.1
     2                                         38.4
     3                                         42.9
     4                                         45.1
2017 1                                         42.8
     2                                         43.5
     3                                         47.6
     4                                         47.3
2018 1                                         25.5
     2                                         55.7
     3                                         60.2
     4                                         61.9
2019 1                                         59.7
     2                                         60.1
     3                                         61.5
     4                                         58.2
2020 1                                         52.6
     2                                         17.1
     3                                         16.4
     4                                         49.3
2021 1                                         58.1
     2                                         75.7
     3                                         69.8
     4                                         69.3

In [132]:
grouped_data.to_csv('Resources/combined_data.csv')