In [77]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import hvplot.pandas
%matplotlib inline

In [78]:
fraud_reporting = pd.read_csv(Path("Resources/SARStats2014_2021.csv"), thousands=',', index_col='Year Month', parse_dates=True, infer_datetime_format = True)
fraud_reporting

,Industry,Suspicious Activity,Count
Year Month,,,
2014 January,Depository Institution,ACH,1505
2014 January,Depository Institution,Business Loan,147
2014 January,Depository Institution,Check,8044
2014 January,Depository Institution,Consumer Loan (see instructions),7419
2014 January,Depository Institution,Credit/Debit Card,5572
...,...,...,...
2021 December,Depository Institution,Securities,29
2021 December,Depository Institution,Wire,5914
2021 December,Depository Institution,[Total],93692
2021 [Total],Depository Institution,[Total],971886
All Years [Total],Depository Institution,[Total],4803531

In [79]:
fraud_reporting = fraud_reporting.loc[fraud_reporting["Suspicious Activity"]!="[Total]" ]
fraud_reporting = fraud_reporting.drop(columns= 'Suspicious Activity')
fraud_reporting.index = pd.to_datetime(fraud_reporting.index, infer_datetime_format = True)
fraud_reporting

                          Industry  Count
Year Month
2014-01-01  Depository Institution   1505
2014-01-01  Depository Institution    147
2014-01-01  Depository Institution   8044
2014-01-01  Depository Institution   7419
2014-01-01  Depository Institution   5572
...                            ...    ...
2021-12-01  Depository Institution  16703
2021-12-01  Depository Institution     23
2021-12-01  Depository Institution     12
2021-12-01  Depository Institution     29
2021-12-01  Depository Institution   5914

[1179 rows x 2 columns]

In [80]:
quarterly_fraud_reporting = fraud_reporting.groupby([fraud_reporting.index.year,fraud_reporting.index.quarter]).sum()
quarterly_fraud_reporting

                        Count
Year Month Year Month
2014       1            82364
           2            95516
           3            94084
           4            90868
2015       1            90566
           2            96365
           3           101745
           4           105491
2016       1           108801
           2           128668
           3           126907
           4           115900
2017       1           117009
           2           121347
           3           125990
           4           125829
2018       1           132985
           2           140769
           3           152955
           4           165279
2019       1           186318
           2           169526
           3           177728
           4           185082
2020       1           189439
           2           176864
           3           224264
           4           202986
2021       1           201403
           2           231668
           3           273794
           4           265021

In [81]:
quarterly_fraud_reporting = quarterly_fraud_reporting.rename(columns={'Count':'Fraud Reporting Count'})
quarterly_fraud_reporting.index = quarterly_fraud_reporting.index.rename(['Year','Quarter'])
quarterly_fraud_reporting

              Fraud Reporting Count
Year Quarter
2014 1                        82364
     2                        95516
     3                        94084
     4                        90868
2015 1                        90566
     2                        96365
     3                       101745
     4                       105491
2016 1                       108801
     2                       128668
     3                       126907
     4                       115900
2017 1                       117009
     2                       121347
     3                       125990
     4                       125829
2018 1                       132985
     2                       140769
     3                       152955
     4                       165279
2019 1                       186318
     2                       169526
     3                       177728
     4                       185082
2020 1                       189439
     2                       176864
     3                       224264
     4                       202986
2021 1                       201403
     2                       231668
     3                       273794
     4                       265021

In [82]:
net_income = pd.read_csv(Path("Resources/FDICQBPs.csv"))
net_income

,Year,Quarter,Net Operating Income,"Securities and Other Gains/Losses, Net"
0,2008,1,18.8,0.4
1,2008,2,6.1,-1.3
2,2008,3,7.5,-4.4
3,2008,4,-35.0,-0.7
4,2009,1,-6.5,0.4
5,2009,2,-8.4,-4.2
6,2009,3,4.5,-2.4
7,2009,4,-1.5,-0.2
8,2010,1,16.3,1.1
9,2010,2,19.8,1.1
10,2010,3,21.7,2.0
11,2010,4,19.6,1.8
12,2011,1,29.0,-0.2
13,2011,2,28.4,0.1
14,2011,3,32.2,3.1
15,2011,4,24.1,1.2
16,2012,1,32.7,2.1
17,2012,2,32.9,1.6
18,2012,3,35.6,1.9
19,2012,4,33.4,1.0
20,2013,1,39.1,1.2
21,2013,2,37.5,0.7
22,2013,3,35.6,0.5
23,2013,4,39.6,0.1
24,2014,1,36.8,0.5
25,2014,2,39.8,0.3
26,2014,3,38.1,0.4
27,2014,4,36.0,0.5
28,2015,1,39.0,0.8
29,2015,2,42.6,0.4
30,2015,3,40.0,0.4
31,2015,4,40.1,0.5
32,2016,1,38.4,0.6
33,2016,2,42.9,0.7
34,2016,3,45.1,0.5
35,2016,4,42.8,0.3
36,2017,1,43.5,0.3
37,2017,2,47.6,0.5
38,2017,3,47.3,0.6
39,2017,4,25.5,-0.2
40,2018,1,55.7,0.1
41,2018,2,60.2,-0.1
42,2018,3,61.9,-0.0
43,2018,4,59.7,-0.3
44,2019,1,60.1,0.6
45,2019,2,61.5,1.0
46,2019,3,58.2,-0.8
47,2019,4,52.6,2.3
48,2020,1,17.1,1.4
49,2020,2,16.4,2.0
50,2020,3,49.3,1.8
51,2020,4,58.1,1.3
52,2021,1,75.7,1.1
53,2021,2,69.8,0.6
54,2021,3,69.3,0.2
55,2021,4,63.4,0.4

In [83]:
net_income = net_income.drop(columns = 'Securities and Other Gains/Losses, Net')
net_income = net_income.loc[net_income['Year']>=2014]
net_income.head()

    Year  Quarter  Net Operating Income
24  2014        1                  36.8
25  2014        2                  39.8
26  2014        3                  38.1
27  2014        4                  36.0
28  2015        1                  39.0

In [88]:
quarterly_net_income = net_income.groupby(['Year','Quarter']).sum()
quarterly_net_income = quarterly_net_income.rename(columns={'Net Operating Income':'Net Operating Income(Billions)'})
display(quarterly_net_income.head())
display(quarterly_fraud_reporting.head())

              Net Operating Income(Billions)
Year Quarter
2014 1                                  36.8
     2                                  39.8
     3                                  38.1
     4                                  36.0
2015 1                                  39.0

              Fraud Reporting Count
Year Quarter
2014 1                        82364
     2                        95516
     3                        94084
     4                        90868
2015 1                        90566

In [91]:
grouped_data = quarterly_fraud_reporting.merge(quarterly_net_income, left_index=True, right_on=['Year','Quarter'])
grouped_data

              Fraud Reporting Count  Net Operating Income(Billions)
Year Quarter
2014 1                        82364                            36.8
     2                        95516                            39.8
     3                        94084                            38.1
     4                        90868                            36.0
2015 1                        90566                            39.0
     2                        96365                            42.6
     3                       101745                            40.0
     4                       105491                            40.1
2016 1                       108801                            38.4
     2                       128668                            42.9
     3                       126907                            45.1
     4                       115900                            42.8
2017 1                       117009                            43.5
     2                       121347                            47.6
     3                       125990                            47.3
     4                       125829                            25.5
2018 1                       132985                            55.7
     2                       140769                            60.2
     3                       152955                            61.9
     4                       165279                            59.7
2019 1                       186318                            60.1
     2                       169526                            61.5
     3                       177728                            58.2
     4                       185082                            52.6
2020 1                       189439                            17.1
     2                       176864                            16.4
     3                       224264                            49.3
     4                       202986                            58.1
2021 1                       201403                            75.7
     2                       231668                            69.8
     3                       273794                            69.3
     4                       265021                            63.4